NODE-RED_CONFIG/flows.json
[{"id":"73bfd0ba.ab868","type":"tab","label":"GJK-COUNT","disabled":false,"info":""},{"id":"900b49b.29780b8","type":"mqtt in","z":"73bfd0ba.ab868","name":"","topic":"esp32/stav-1","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","x":130,"y":240,"wires":[["45eee373.e875ec"]]},{"id":"ea389da0.46ee2","type":"mqtt in","z":"73bfd0ba.ab868","name":"","topic":"esp32/obsazenost-1","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","x":160,"y":300,"wires":[["8caae209.2da3d8","1370ff7a.8f0901","b76b47a3.a5d868"]]},{"id":"6d32df2e.90525","type":"mqtt in","z":"73bfd0ba.ab868","name":"","topic":"esp32/stav-2","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","x":130,"y":440,"wires":[["96f9e2d2.b346e"]]},{"id":"9023869a.7e53f8","type":"mqtt in","z":"73bfd0ba.ab868","name":"","topic":"esp32/obsazenost-2","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","x":160,"y":500,"wires":[["8caae209.2da3d8","1370ff7a.8f0901","48e193c4.ec9c8c"]]},{"id":"45eee373.e875ec","type":"ui_gauge","z":"73bfd0ba.ab868","name":"","group":"b04fa512.146ed8","order":1,"width":5,"height":5,"gtype":"wave","title":"STAV","label":"","format":"{{value}}","min":0,"max":"1","colors":["#ffffff","#e6e600","#00ff00"],"seg1":"3","seg2":"4","x":950,"y":240,"wires":[]},{"id":"96f9e2d2.b346e","type":"ui_gauge","z":"73bfd0ba.ab868","name":"","group":"708a860d.89bc48","order":1,"width":5,"height":5,"gtype":"wave","title":"STAV","label":"","format":"{{value}}","min":0,"max":"1","colors":["#ffffff","#e6e600","#00ff00"],"seg1":"3","seg2":"4","x":950,"y":280,"wires":[]},{"id":"8caae209.2da3d8","type":"ui_chart","z":"73bfd0ba.ab868","name":"","group":"61285987.c20328","order":5,"width":12,"height":10,"label":"OBSAZENOST","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1220,"y":760,"wires":[[]]},{"id":"1370ff7a.8f0901","type":"ui_chart","z":"73bfd0ba.ab868","name":"","group":"61285987.c20328","order":4,"width":8,"height":10,"label":"GRAF OBSAZENOSTI","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1240,"y":680,"wires":[[]]},{"id":"9489739d.5c5cd8","type":"mqtt in","z":"73bfd0ba.ab868","name":"","topic":"esp32/stav-3","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","x":130,"y":660,"wires":[["77b580a5.575a7"]]},{"id":"a06cdcfb.d97a9","type":"mqtt in","z":"73bfd0ba.ab868","name":"","topic":"esp32/obsazenost-3","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","x":160,"y":720,"wires":[["1370ff7a.8f0901","8caae209.2da3d8","49596bab.246024"]]},{"id":"77b580a5.575a7","type":"ui_gauge","z":"73bfd0ba.ab868","name":"","group":"52c257b8.d2df38","order":1,"width":5,"height":5,"gtype":"wave","title":"STAV","label":"","format":"{{value}}","min":0,"max":"1","colors":["#ffffff","#e6e600","#00ff00"],"seg1":"3","seg2":"4","x":950,"y":320,"wires":[]},{"id":"b76b47a3.a5d868","type":"ui_text","z":"73bfd0ba.ab868","group":"b04fa512.146ed8","order":2,"width":5,"height":2,"name":"","label":"OBSAZENOST 1","format":"{{msg.payload}}","layout":"col-center","x":980,"y":1080,"wires":[]},{"id":"48e193c4.ec9c8c","type":"ui_text","z":"73bfd0ba.ab868","group":"708a860d.89bc48","order":2,"width":5,"height":2,"name":"","label":"OBSAZENOST 2","format":"{{msg.payload}}","layout":"col-center","x":980,"y":1120,"wires":[]},{"id":"49596bab.246024","type":"ui_text","z":"73bfd0ba.ab868","group":"52c257b8.d2df38","order":2,"width":5,"height":2,"name":"","label":"OBSAZENOST 3","format":"{{msg.payload}}","layout":"col-center","x":980,"y":1160,"wires":[]},{"id":"3e6de7a4.b92e08","type":"mqtt in","z":"73bfd0ba.ab868","name":"","topic":"esp32/stav-4","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","x":130,"y":860,"wires":[["1e809490.527e93"]]},{"id":"fc6ad865.cb6708","type":"mqtt in","z":"73bfd0ba.ab868","name":"","topic":"esp32/obsazenost-4","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","x":160,"y":920,"wires":[["888f924d.f0e28","8caae209.2da3d8","1370ff7a.8f0901"]]},{"id":"d007e47a.27c568","type":"mqtt in","z":"73bfd0ba.ab868","name":"","topic":"esp32/stav-5","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","x":130,"y":1040,"wires":[["54de7cab.2dd85c"]]},{"id":"42f04a.e2fc6fb8","type":"mqtt in","z":"73bfd0ba.ab868","name":"","topic":"esp32/stav-6","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","x":130,"y":1220,"wires":[["f766bc92.1c5b9"]]},{"id":"f06a3b2e.03df7","type":"mqtt in","z":"73bfd0ba.ab868","name":"","topic":"esp32/obsazenost-5","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","x":160,"y":1100,"wires":[["8cdeb464.7de528","8caae209.2da3d8","1370ff7a.8f0901"]]},{"id":"cd2ed052.2047a","type":"mqtt in","z":"73bfd0ba.ab868","name":"","topic":"esp32/obsazenost-6","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","x":160,"y":1280,"wires":[["3ee4abce.6e65fc","8caae209.2da3d8","1370ff7a.8f0901"]]},{"id":"888f924d.f0e28","type":"ui_text","z":"73bfd0ba.ab868","group":"d3d65dfc.6ca748","order":2,"width":5,"height":2,"name":"","label":"OBSAZENOST 4","format":"{{msg.payload}}","layout":"col-center","x":980,"y":1200,"wires":[]},{"id":"8cdeb464.7de528","type":"ui_text","z":"73bfd0ba.ab868","group":"2cf48054.d853a","order":2,"width":5,"height":2,"name":"","label":"OBSAZENOST 5","format":"{{msg.payload}}","layout":"col-center","x":980,"y":1240,"wires":[]},{"id":"3ee4abce.6e65fc","type":"ui_text","z":"73bfd0ba.ab868","group":"58e9ef43.2517b","order":2,"width":5,"height":2,"name":"","label":"OBSAZENOST 6","format":"{{msg.payload}}","layout":"col-center","x":980,"y":1280,"wires":[]},{"id":"1e809490.527e93","type":"ui_gauge","z":"73bfd0ba.ab868","name":"","group":"d3d65dfc.6ca748","order":1,"width":5,"height":5,"gtype":"wave","title":"STAV","label":"","format":"{{value}}","min":0,"max":"1","colors":["#ffffff","#e6e600","#00ff00"],"seg1":"3","seg2":"4","x":950,"y":360,"wires":[]},{"id":"54de7cab.2dd85c","type":"ui_gauge","z":"73bfd0ba.ab868","name":"","group":"2cf48054.d853a","order":1,"width":5,"height":5,"gtype":"wave","title":"STAV","label":"","format":"{{value}}","min":0,"max":"1","colors":["#ffffff","#e6e600","#00ff00"],"seg1":"3","seg2":"4","x":950,"y":400,"wires":[]},{"id":"f766bc92.1c5b9","type":"ui_gauge","z":"73bfd0ba.ab868","name":"","group":"58e9ef43.2517b","order":1,"width":5,"height":5,"gtype":"wave","title":"STAV","label":"","format":"{{value}}","min":0,"max":"1","colors":["#ffffff","#e6e600","#00ff00"],"seg1":"3","seg2":"4","x":950,"y":440,"wires":[]},{"id":"b5d1dffa.fbf288","type":"mqtt in","z":"73bfd0ba.ab868","name":"","topic":"esp32/status","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","x":140,"y":160,"wires":[["f58f09fc.6cea"]]},{"id":"f58f09fc.6cea","type":"ui_text","z":"73bfd0ba.ab868","group":"61285987.c20328","order":1,"width":3,"height":1,"name":"","label":"STAV:","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":160,"wires":[]},{"id":"10e78a89.5b4fd5","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b04fa512.146ed8","type":"ui_group","name":"P1","tab":"27960ea0.f46c02","order":1,"disp":true,"width":5,"collapse":false},{"id":"708a860d.89bc48","type":"ui_group","name":"P2","tab":"27960ea0.f46c02","order":2,"disp":true,"width":5,"collapse":false},{"id":"61285987.c20328","type":"ui_group","name":"GENERAL","tab":"e7c46d5e.a1283","order":1,"disp":true,"width":"20","collapse":false},{"id":"52c257b8.d2df38","type":"ui_group","name":"P3","tab":"27960ea0.f46c02","order":3,"disp":true,"width":5,"collapse":false},{"id":"d3d65dfc.6ca748","type":"ui_group","name":"P4","tab":"27960ea0.f46c02","order":4,"disp":true,"width":5,"collapse":false},{"id":"2cf48054.d853a","type":"ui_group","name":"P5","tab":"27960ea0.f46c02","order":5,"disp":true,"width":5,"collapse":false},{"id":"58e9ef43.2517b","type":"ui_group","name":"P6","tab":"27960ea0.f46c02","order":6,"disp":true,"width":5,"collapse":false},{"id":"27960ea0.f46c02","type":"ui_tab","name":"Jednotlivé senzory","icon":"poll","order":2,"disabled":false,"hidden":false},{"id":"e7c46d5e.a1283","type":"ui_tab","name":"GJK Počítadlo","icon":"account_balance","order":1,"disabled":false,"hidden":false}]